<!DOCTYPE html>
<html>
<head>
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2>Order Confirmation</h2>
        <h4>Your order has been placed successfully!</h4>
        <p>Order Details:</p>
        <ul>
          {% for order in orders %}
            <li>
              Order #{{ order.id }} - Total: ${{ order.total_price }}
              <ul>
                {% for item in order.items.all %}
                  <li>{{ item.book.title }} (Quantity: {{ item.quantity }})</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>